.Square {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}

.player1 .Square.ship {
  background: linear-gradient(45deg, royalblue, skyblue 100px);
}

/* .player1 .Square.shipMargin {
  background: lightgoldenrodyellow;
} */

.Square.shot {
  background: linear-gradient(45deg, red, transparent 100px);
  color: darkred;
}

.Square.miss {
  background: #e5eff9;
  color: #000;
}