.Square {
  border: 1px solid #ccc;
}

.player1 .Square.ship {
  background: linear-gradient(45deg, royalblue, skyblue 100px);
}

/* .player1 .Square.shipMargin {
  background: lightgoldenrodyellow;
} */